body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
}

button{
    cursor: pointer;
    line-height: inherit;
    border: none;
}

h1,
h2,
h3,
h4,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img{
    display: block;
    width: 100%;
}

.main-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: #4d5ae5;
    text-transform: uppercase;
    padding: 16px 0;
}

.main-logo__color{
    color: #2e2f42;
}

.container{
    width: 318px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

/*          HEADER          */
.header{
}

.header-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav__list{
    display: none;
}

.header-nav__link{
    font-weight: 500;
    padding: 24px 0;
    color: #434455;
    position: relative; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-nav__link:hover,
.header-nav__link:focus{
    color: #404BBF;
}

.header-contacts{
    /* font-style: normal;
    margin-left: auto; */
    display: none;
}

.header-contacts__list{
    display: flex;
    gap: 40px;
}

.header-contacts__link{
    color: #434455;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover,
.header-contacts__link:focus{
    color: #404BBF;
}

.header-btn{
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn svg{
    fill: #2F2F37;
}

.header-btn svg:hover,
.header-btn svg:focus{
    fill: #404BBF;
}

/*         MOB-MENU         */

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 24px 24px 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu.is-open{
    transform: translateX(0);
}

.mob-btn-close {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: #E7E9FC solid 1px;
    margin-left: auto;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-btn-close:hover,
.mob-btn-close:focus{
    background-color: #E7E9FC;
}

.mob-nav__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav__link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mob-nav__link:hover,
.mob-nav__link:focus{
    color: #404BBF;
}

.mob-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts__link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mob-contacts__link:hover,
.mob-contacts__link:focus{
    color: #4D5AE5;
}

.mob-list-icon {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.mob-item-icon {
    width: 40px;
    height: 40px;
}

.mob-icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:hover,
.mob-icon-link:focus{
    background-color: #31D0AA;
}

.mob-icon-svg {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}

/*          HERO            */
.hero{
    background-color: transparent;
    margin: 0 auto;
}

.hero-container{
    max-width: 320px;
    height: 432px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil/mobil-bg.jpg);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    padding: 72px 15px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil/mobil-bg-2x.jpg)
  }
}

.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    max-width: 216px;
}

.hero-btn{
    background-color: #4D5AE5;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    margin: auto auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

/*          BENEFITS            */
.benefits{
    padding: 96px 0;
}

.benefits-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.benefits-container-icon svg{
    display: none;
}

.benefits-item__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

/*          TEAM            */
.team{
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.team-item{
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.container-team-item{
    padding: 32px 0;
}

.team-item__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item__descr{
    text-align: center;
    font-weight: 400;
}

.team-list-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-item-icon{
    width: 40px;
    height: 40px;
}

.team-icon-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.team-icon-link:hover,
.team-icon-link:focus{
    background-color: #404bbf;
}

.team-icon-svg{
    fill: #f4f4fd;
}

/*          PORTFOLIO           */
.portfolio{
    padding: 96px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    flex-direction: column;
    justify-content: center;
}

.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item:hover .portfolio-container-descr{
    transform: translateY(0%);
}

.portfolio-container-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
}

.portfolio-container-descr{
    position: absolute; 
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*          FOOTER          */
.footer{
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-container{
    align-items: baseline;
}

.footer-container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-descr{
    color: #F4F4FD;
    max-width: 288px;
    font-weight: 400;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-left: 0px;
    display: inline-block; 
    margin-bottom: 16px; 
}

.main-footer-logo__color{
    color: #f4f4fd;
}

.footer-container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.footer-container-descr{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px; 
}

.footer-list{
    display: flex;
    gap: 16px;
}

.footer-list-item{
    width: 40px;
    height: 40px;
}

.footer-item-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.footer-item-link:hover,
.footer-item-link:focus{
    background-color: #31d0aa;
}

.footer-item-icon{
    fill: #f4f4fd;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.footer-subscribe-text {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-input{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form-button{
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-form-icon{
    margin-left: 16px;
}

   /*----MODAL----*/

.backrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none; 
}

.modal-button-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
    fill: #ffffff
}

.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 16px;
}

   /*---FORM---*/

.form-container{
    margin-bottom: 8px;
}

.form-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99; 
    display: block; 
    margin-bottom: 4px;
}

.form-input-container{
    position: relative;
}

.form-input{
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus{
    border-color: #4D5AE5;
}

.form-input:focus + .form-input-icon{
    fill: #4D5AE5; 
}

.form-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-container{
    margin-bottom: 16px;
}

.form-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus{
    border-color: #4D5AE5; 
}

.form-checkbox-container{
    margin-bottom: 24px;
}

.form-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;;
}

.form-checkbox-span{
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;
}

.form-checkbox:checked + .form-checkbox-label span{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;;
}

.form-checkbox-link{
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
}

.form-button{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin:auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-button:hover{
    background: var(--OCEAN, #404BBF);
}